/**********************************
GENERAL
**********************************/
body {
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    /*max width is related to width. But instead of width, max width that it can be smaller for mobile devices/tablets.*/
    max-width: 940px;
    /*Margin 0 is or all sides*/
    margin: 0 auto;
    /*Values first one is top and bottom. Second one is left and right.*/
    padding: 0 5%;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}
/***********************************
HEADEER
***********************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    /*our name and description of who we are.*/
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Sarala', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    /*1st value is for the top. 2nd value is for the left and right. 3rd value is for the bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}
